.meal-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meal-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  color: "#f05922";
}

.custom-diet-btn {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - 40px);
  height: 50px;
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #614731;
  color: #f7f2df;
  font-family: "Roboto Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .custom-diet-btn,
  .vl-action-btn .vl-go-back-btn,
  .vl-action-btn .vl-go-next-btn {
    max-width: 460px !important;
  }
  .vl-stepper-sec,
  .product-planner .product-display,
  .vl-prd-planner-design1,
  .product-planner .mealPlan-date,
  .product-planner .mealplan-address-block,
  .product-planner .product-display .prdDesp,
  .meal-plan-wrapper,
  .vl-address-form,
  .cart-summary-wrapper,
  .vl-orders-wrapper,
  .profile-info-block,
  .vl-edit-prd-planner-sec
  {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  // Two column Layout
  // .cart-summary-wrapper {
  //   max-width: 100%;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   .w-100p.mb-3{
  //     max-width:calc(50% - 20px);
  //   }
  // }
}

