.logo_image {
    height: 6vh;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
.navbar-nav .customNavBar .dropdown-menu{
    position: absolute;
}