.logo_image {
    height: 6vh;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-nav .customNavBar .dropdown-menu {
    position: absolute;
}

.nav-menu-cart {
    position: relative;
    margin-left: 10px;
}

.nav-menu-cart .badge {
    background-color: rgba(53,40,23,1) !important;
    border: 2px solid rgba(249,243,223,1);
    position: absolute;
    top: -10px;
    left: 10px;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-name-txt {
    font-size: 14px;
    color: #424141 !important;

}

.customNavBar a {
    text-decoration: none !important;
}

.back-btn {
    background-color: #f05922 !important;
    border-color: #f05922 !important;
    border-radius: .25rem 0px 0px .25rem !important;
}
.back-btn:focus {
    background-color: #f05922 !important;
    border-color: #f05922 !important;
    border-radius: .25rem 0px 0px .25rem !important;
}

.back-btn>svg {
    font-size: 20px !important;
}

.custom-select-box .css-yk16xz-control {
    border-radius: 0px .25rem .25rem 0px !important;
}

@media screen and (max-width:600px) {
    .custom-nav {
        align-items: flex-start !important;
        /* min-height: 110px; */
    }

    .profile-menu {
        /* min-height: 70px; */
        margin-right: 20px;
    }

    .search-section {
        order: 2;
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0px;
    }
}

@media screen and (min-width: 615px) {
    .profile-menu {
        margin-right: 30px;
    }
}
@media (min-width: 992px) {
    .search-section {
        min-width: 400px
    }
}


.MuiStepLabel-label {
    margin-top: 5px !important;
}

.closeBtn .btn-close{
   color:#ffffff !important;
   background-color: rgba(0,0,0,0.45);
   border-radius: 50%;
}
.list-group-item{
    font-size: 18px;
    line-height: 30px;
    font-family: "Roboto Mono";
    font-weight: 500;
    text-transform: uppercase;
    background:transparent !important;
}
.bg-chocolate-900{
    background-color: rgba(53,40,23,1) !important;
    border-color: rgba(53,40,23,1) !important;
}
.sideMenuListview{
    /* background: #dddddd; */
}
.sideMenuListview .list-group-item{
    font-size: 35px;
    border-bottom:none;
    font-family: 'PlayfairDisplay Bold',serif !important;
    font-weight: 700;
    margin: 14px auto;
    text-transform: capitalize;
}
.sideMenuWrapper{
    width:100% !important;
}
@media screen and (max-width:767px) {
    .sideMenuWrapper{
        max-width:100% !important;
        border-right: none !important;
    }
}
@media screen and (min-width: 768px) {
    .sideMenuWrapper{
        max-width:70% !important;
    }
}
.cart-loading{
    /* background: #cccccc; */
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}
.cart-loading .spinner-border{
    width: 1.1rem !important;
    height: 1.1rem !important;
}

@media screen and (max-width: 360px) {
    .contact-info{
        flex-direction: column;
    }
   .contact-phone{
       margin-top: 10px;
   }
}

.menu-item:hover{
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    .vl-navbar{
        padding-right: 3rem;
        position: relative;
        top:-1rem;
    }
  }
  @media screen and (max-width: 767px) {
  .vl-navbar{
      padding-right: 2rem;
  }
}
.vl-navbar-header{
    background-color: transparent;
}
.cursor-pointer{
    cursor: pointer;
}
.vl-profile-icon{
    position: relative;
    right: -10px;
    top: 8px;
    margin: 0px 6px;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .vl-logo{
        max-width: 85px;
    }    
}
@media screen and (min-width:768px) {
    .vl-logo{
        max-width: 120px;
    }    
}