.logo_image {
    height: 6vh;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
.navbar-nav .customNavBar .dropdown-menu{
    position: absolute;
}
.nav-menu-cart{
    position: relative;
    margin-left: 10px;
}
.nav-menu-cart .badge{
    background-color:#f05922 !important;
    position: absolute;
    top:-8px;
    left:20px;
}
.profile-name-txt{
    font-size: 14px;
    color:#424141 !important;
    
}
.customNavBar a{
    text-decoration: none !important;
}
.back-btn{
    background-color: #f05922 !important;
    border-color: #f05922 !important;
    border-radius: .25rem 0px 0px .25rem !important;
}
.back-btn > svg{
    font-size: 20px !important;
}
.custom-select-box .css-yk16xz-control{
    border-radius: 0px .25rem .25rem 0px !important;
}
@media screen and (max-width:600px) {
    .custom-nav{
        align-items: flex-start !important;
        min-height: 110px;
    }
    .profile-menu{
        min-height: 70px;
        margin-right: 20px;
    }
    .search-section{
        order: 2;
        position: absolute;
        top: 75px;
        width: 100%;
        left: 0px;
    }
}
@media (min-width: 992px){
    .search-section{min-width:400px}
}