.planner-container {
  min-height: 100vh;
  padding-top: 70px;
  background-color: #f7f2df;
  .stepperComponent {
    background-color: #f7f2df;
    .MuiStepIcon-root.MuiStepIcon-active,.MuiStepIcon-root.MuiStepIcon-completed {
      color: #614731 !important;
  }
  }
}

.prd-image-thumbnile-none {
  border-radius: 0px !important;
}

// stepperComponent
.stepperComponent {
  // background-color: #cccccc !important;
}
.stepperComponent .MuiStepLabel-labelContainer {
  display: none !important;
}
.vl-address-form{
  padding:0px 20px 20px;
  input{
    border-color:#614731 !important;
  }
}
.vl-action-btn{
  // background-color: #cccccc;
  .vl-go-back-btn,.vl-go-next-btn{    
    width: 100%;
    // max-width: 300px;
    height: 50px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Roboto Medium',sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  .vl-go-back-btn{   
    // background-color: #e4e4e4;
    background: transparent !important;
    color: #424141;
    border-radius: 10px;
    border:1px solid #614731;
  }
  .vl-go-next-btn{   
    background-color: #614731;
    color: #F7F2DF;
    border-radius: 10px;
    border:1px solid #614731 !important;
  }
  .vl-go-next-btn:hover{
    color: #F7F2DF !important;
  }
}

.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0 !important;
}
.vl-stepper-sec{
  position: relative;
  background-color:rgb(245, 224, 188) !important;
  .stepper-back-btn{
    border: none;
    position: absolute;
    top:16px;
    left: 20px;
    color: #614731;
    font-size: 24px;   
    background:transparent !important;
  }
  .stepper-back-btn:disabled {
    opacity: .45;
    // background-color: #cccccc;
  }
  
}
.vl-address-form .form-floating>label{
  // position: relative !important;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.vl-address-form input{
  width: 100%;
  overflow: hidden;
}