.planner-container {
  padding-top: 70px;
}

.prd-image-thumbnile-none {
  border-radius: 0px !important;
}

// stepperComponent
.stepperComponent{
    // background-color: #cccccc !important;
}
.stepperComponent .MuiStepLabel-labelContainer{
    display: none !important;
}
