.planner-container {
  min-height: 100vh;
  padding-top: 70px;
  background-color: #f7f2df;
  .stepperComponent {
    background-color: #f7f2df;
    .MuiStepIcon-root.MuiStepIcon-active,.MuiStepIcon-root.MuiStepIcon-completed {
      color: #614731 !important;
  }
  }
}

.prd-image-thumbnile-none {
  border-radius: 0px !important;
}

// stepperComponent
.stepperComponent {
  // background-color: #cccccc !important;
}
.stepperComponent .MuiStepLabel-labelContainer {
  display: none !important;
}
.vl-address-form{
  padding:0px 20px 20px;
  input{
    border-color:#614731 !important;
  }
}
.vl-action-btn{
  // background-color: #cccccc;
  .vl-go-back-btn,.vl-go-next-btn{    
    width: 100%;
    max-width: 300px;
    height: 50px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Roboto Medium',sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  .vl-go-back-btn{   
    background-color: #e4e4e4;
    color: #424141;
    border-radius: 10px;
  }
  .vl-go-next-btn{   
    background-color: #614731;
    color: #F7F2DF;
    border-radius: 10px;
  }
}