.gender-card {
  display: flex !important;
  position: relative;
  width: 100%;
  max-width: calc(50% - 0px);
  justify-content: space-around;
  max-width: 200px;
  height: 120px;
  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(var(--card-padding) + var(--radio-border-width));
  top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    width: var(--radio-size);

    &::after {
      border: var(--radio-border-width) solid #fff;
      border-top: 0;
      border-left: 0;
      content: "";
      display: block;
      height: 0.75rem;
      left: 25%;
      position: absolute;
      top: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
      width: 0.375rem;
    }

    &:checked {
      background: var(--color-green);
      border-color: var(--color-green);
    }
  }

  .card:hover .radio {
    border-color: var(--color-dark-gray);

    &:checked {
      border-color: var(--color-green);
    }
  }
}

.plan-details {
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
  height: 120px;
  width: 100%;
  border-radius: 20px;
}

.card:hover .plan-details {
  border-color: var(--color-dark-gray);
}

.radio:checked ~ .plan-details {
  border-color: var(--color-green);
  background: #f5e0bc !important;
  border-radius: 20px !important;
}

.radio:checked ~ .plan-details + .pl-lable-info {
  background: #614731 !important;
  label {
    color: #f7f2df !important;
    user-select: none;
  }
}
.radio ~ .plan-details {
  border-color: var(--color-green);
  background-color: #f5e0bc;
}

.radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px var(--color-dark-gray);
}

.radio:disabled ~ .plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}

.radio:disabled ~ .plan-details .plan-type {
  color: var(--color-dark-gray);
}

.card:hover .radio:disabled ~ .plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}

.card:hover .radio:disabled {
  border-color: var(--color-gray);
}

.plan-cost {
  font-size: 4rem;
  font-weight: bold;
  padding: 0.5rem 0;
}
.pinfo-box {
  width: 100%;
  margin: 0px auto;
  .pinfo-box-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .pinfo-box-item-btn:hover {
      // background: #FDC56B;
    }
    .pinfo-box-item-btn {
      width: 100%;
      height: 100%;
      border: 1px solid #d3d3d3;
      border-radius: 20px 0px 0px 20px;
      background: #f5e0bc;
    }
    .pinfo-box-item-btn:first-child {
      border-right: 1px solid rgba(0, 0, 0, 0.125);
      svg {
        width: 10px;
        height: 20px;
        position: relative;
        left: -10px;
        top: -15px;
      }
      
    }
    .pinfo-box-item-btn:last-child {
      border-radius: 0px 20px 20px 0px;
      border-left: 1px solid rgba(0, 0, 0, 0.125);
      svg {
        width: 20px;
        height: 20px;
        position: relative;
        right: -10px;
        top: -15px;
      }     
    }
    input {
      width: 30%;
      line-height: 50px;
      background-color: transparent !important;
      border: none;
      text-align: center;
      font-size: 50px;
      text-indent: 0px;
      font-family: "Roboto";
      font-weight: 300;
    }
  }
  .pl-lable-info {
    width: calc(100% - 4px);
    position: absolute;
    bottom: 2px;
    background: #f7f2df;
    padding: 2px 0px;
    border-radius: 0px 0px 20px 20px;
    label {
      font-size: 16px;
      font-family: "Roboto Regular", sans-serif;
      font-weight: 400;
      color: #424141;
      margin-bottom: 0px;
      user-select: none;
    }
  }
  .pinfo-errorTxt {
    font-size: 12px;
    font-family: "Roboto Regular", sans-serif;
    font-weight: 400;
    color: #ff0000;
    margin-bottom: 0px;
    position: absolute;
    top: 100%;
  }
  .pl-info-value {
    width: 60px;
    height: 60px;
    background-color: #f7f2df;
    border-radius: 50%;
    border: 2px solid #f7f2df;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #614731;
    font-size: 30px;
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 45px);
    user-select: none;
  }
}

// stepperComponent

.stepper-btn-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: inline-flex;
  padding: 10px 0px;
  background-color: rgb(249, 243, 223);
}

.stepper-btn {
  width: 100%;
  max-width: calc(100% - 40px);
  height: 50px;
  color: #f7f2df !important;
  font-size: 16px !important;
  font-family: "Roboto Medium", sans-serif;
  font-weight: 500;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: #614731 !important;
  border-color: #614731 !important;
  border-radius: 20px !important;
  padding: 0 20px !important;
  margin: 0 auto;
}

.gender-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.gender-card,
.pinfo-box {
  max-width: 150px;
  height: 120px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  .plan-details {
    height: 100% !important;
    img {
      position: relative;
      top: -15px;
    }
  }
  .pl-lable-info {
    width: calc(100% - 2px);
    position: absolute;
    bottom: 1px;
    background: #f7f2df;
    padding: 2px 0px;
    border-radius: 0px 0px 20px 20px;
    label {
      font-size: 16px;
      font-family: "Roboto Regular", sans-serif;
      font-weight: 400;
      color: #424141;
      margin-bottom: 0px;
    }
  }
}
.pinfo-box {
  // flex-direction: column-reverse !important;
}
@media screen and (max-width: 615px) {
  .personal-info-step {
    max-width: 340px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 616px) {
  .personal-info-step {
    max-width: 360px;
    margin: 0 auto;
  }
  .personal-info-step .card-body {
    padding: 0px !important;
  }
}

.pinfo-box-item-btn.disabled-state {
  // background-color: rgba(0, 0, 0, 0.05) !important;
  background:#f5e0bc;
  pointer-events: none;
  svg{
    
    path{
      stroke: #f5e0bc !important;
    }
  }
}