.payment-status-modal{
    max-width: calc(100% - 40px);
    background: #f7f2df !important;
    border-radius: 20px !important;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #614731 !important;
  }

.psm-title{
  font-family: 'Roboto Regular',sans-serif;
  font-size: 25px !important;
  font-weight: 500 !important;
}

.psm-text{
  font-family: 'Roboto Regular',sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
}
  