.payment-status-modal{
    max-width: calc(100% - 40px);
    background: #f7f2df !important;
    border-radius: 20px !important;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #614731 !important;
    position: relative;
  }

.psm-title{
  font-family: 'Roboto Regular',sans-serif;
  font-size: 25px !important;
  font-weight: 500 !important;
}

.psm-text{
  font-family: 'Roboto Regular',sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
}
  .success-icon-align{
    position: absolute;
    top: -25px;
    left: calc(50% - 25px);
    z-index: 101;
    background: transparent;
  }
  .success-img-bg{
    background: rgb(247, 242, 223);
    border-radius: 50%;
  }