.vlfaq-wrapper {
    .faq-titletxt {
        font-family: "PlayfairDisplay Medium", sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 45px;
        text-align: center;
        color: #894C5B;
        margin: 0rem auto 1.5rem;
    }
    .accordion {
        max-width: 600px;
        margin: 0 auto;
        .accordion-item:first-child {
            border-radius: 10px 10px 0px 0px;
            overflow: hidden;
        }
        .accordion-item:last-child {
            border-radius: 0px 0px 10px 10px;
            overflow: hidden;
        }
        .accordion-header {
            font-family: "PlayfairDisplay Medium", sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #352817;
        }
        .accordion-body {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            color: #424141;
            background: #ffffff !important;
        }
        .accordion-button:not(.collapsed) {
            // color: #352817 !important;
            // background-color: #FDC56B !important;
            color: #ffffff !important;
            background-color: #894c5b !important;
            box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
        }
        .accordion-item {
            background: #f9f3df !important;
        }
        .accordion-button:not(.collapsed)::after {
            background-image: url("../../assets/home/downarrow.svg");
            background-repeat: no-repeat;
            background-size: 12px auto;
            transform: rotate(90deg);
            position: absolute;
            top: 20px;
            right: 15px;
        }
    }
}
