.calendar-circle{
    width: 16px;
    height: 16px;
    border-radius:50%;
}

.color-delievered {
    background-color: rgb(213, 4, 4);
}

.color-scheduled {
    background-color: rgb(10, 0, 0);
}

.color-todays-date {
    background-color: rgb(250, 223, 66);
}