.disclaimer {
  padding: 0px 10px 0px 10px;
  height: calc(100vh - 0px);
  // padding-top: 70px;
  background-color: #f7f2df;
  // background-color:rgb(245, 224, 188);
  display: flex;
  align-items: center;
}
.disclaimer-meal-plan {
  padding: 0px 10px 0px 10px;
  // background-color: #f7f2df;
  display: flex;
  align-items: center;
}
.disclaimerWrapper {
  max-width: calc(100% - 40px);
  background: #f7f2df !important;
  border-radius: 20px !important;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #614731 !important;
  .disclaimer-info {
    h3 {
      font-size: 20px;
      font-family: "Roboto Regular", sans-serif;
      font-weight: 500;
      line-height: 28px;
    }
  }
  .disclaimer-plzinfo {
    font-size: 16px;
    font-family: "Roboto Regular", sans-serif;
    font-weight: 400;
    line-height: 28px;
  }
}

.dis-back-btn {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  a,
  button {
    width: 100%;
    max-width: 300px;
    height: 50px;
    padding: 0 0px;
    display: flex;
    background-color: #614731 !important;
    color: #f7f2df !important;
    border: 1px solid #614731 !important;
    border-radius: 20px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Roboto Regular", sans-serif;
    font-weight: 400;
  }
}
.contact-phone,
.whatsup-phone {
  font-family: "Roboto Medium", sans-serif;
  font-weight: 500;
  color: #614731 !important;
  text-decoration: underline;
  white-space: nowrap;
  a {
    color: #614731 !important;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
  }
}

// .dis-back-btn p{
//   background-color: #d3d3d3;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 50px;
//   border-radius: 10px;
//   font-size: 20px;
// }

@media screen and (max-width: 615px) {
  .contact-info {
    flex-direction: column;
    white-space: nowrap;
    width: 100%;
  }
  .contact-phone {
    margin-top: 1rem;
  }
  .message-contact-number-info {
    flex-direction: row;
  }
}
.whatsup-info,
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .5rem;
  width: 50px;
  height: 50px;
  // border:1px solid #614731;
  border-radius: 15px;
  margin: 0px 1rem;
  a {
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
    color: #614731 !important;
    text-decoration: underline;
    white-space: nowrap;
  }
}
.whatsup-info {
  background-color: #25D366 !important;
  color: #ffffff;
}
.whatsup-info:hover{
  color: #ffffff;
}
.contact-info {
  // background-color: #ffffff !important;
  border:1px solid #614731;
  color: #614731;
}
