.gender-card {
    display: inline-flex;
    margin: 0 auto;
    padding: 0 20px;
}

.gender-card .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gender-card .card-body svg {
    cursor: pointer;
    width: auto;
    height: 100px;
    margin: 0 15px;
}

.bio-card {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
}

.bio-card .height-row {
    display: flex;
}

.bio-card .height-row .input-group:first-child {
    /* width: calc(60% - 8px); */
    margin-right: 16px;
}

.bio-card .height-row .input-group:last-child {
    /* width: calc(40% - 8px); */
}

.footer-button-wrap {
    display: flex;
    margin: 30px auto 0;
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
}

.footer-button-wrap button {
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 20px;
}

.footer-button-wrap button:last-child {
    margin-right: 0;
}

.footer-button-wrap button svg {
    margin: 0 5px;
}

.gender-select {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.radio-toolbar{
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #614731;
    display: inline-block;
}
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: "roboto",sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;    
    cursor: pointer;
    min-height: 44px;
}  

.radio-toolbar input[type="radio"] + label {
    background-color:#ccc;
    border-color: #ccc;
    color:#424141;
    font-size: 16px;
    font-weight: normal;
}


.radio-toolbar input[type="radio"]:checked + label {
    color:#fff;
    background-color:#f05922;
    font-size: 16px;
    font-weight: 500;
}

.radio-toolbar input[type="radio"]:focus + label {
    /* border: 2px solid #f05922; */
    outline: none;
}

.radio-toolbar label:hover {
    background-color: #dfd;
  }

.pr-error-text {
    font-size: 12px;
    margin-top: -12px;
    margin-bottom: 0px;
}
.pos-rel{
    position: relative !important;
  }

.error-text-block {
    position: absolute;
    top: 54px;
}
.error-text-block1 {
    position: absolute;
    top: 64px;
}