
.meal-card {
    cursor: pointer;
    width: calc(50% - 10px);
    margin-right: 15px;
    margin-bottom: 15px;
    border-color: transparent !important;
    padding: 0px;
    background: transparent !important;
  }
  
  .meal-card .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .meal-card:nth-child(2n) {
    margin-right: 0;
  }
  
  .meal-card:nth-last-child(1),
  .meal-card:nth-last-child(2) {
    margin-bottom: 0;
  }


.mealcard-title {
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    color: #352817;
    font-family: "Roboto Condensed";
  }
  