.landing-carousel {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content-body {
    padding-top: 20px;
    background: #fff;
}

.page-content {
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.75) !important;

}

.bg-1 {
    background-color: #f9f9f9 !important;
}

.bg-2 {
    background-color: #f4f4f4;
}

.bg-3 {
    background-color: #f9f9f9 !important;
}

/* .content-title {
    font-family: 'Raleway';
    font-size: 1.875rem;
    color: #424141;
    font-weight: 600;
} */

.viewall-txt {
    font-family: 'Raleway';
    font-size: 18px;
    color: #f05922;
    font-weight: 500;
    display: inline-block;
    width:100%;
    margin-bottom: 15px;
}

.no-bg {
    background-color: transparent !important;
    border-bottom: none !important;
}

@media only screen and (max-width: 600px) {

    .content-body {
        padding-top: 0px;
        background: #fff;
    }

    .page-content {
        padding: 0px;
    }

    .card-body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .subscription-section {
        margin: 0px !important;
    }
}
hr.hr-divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important; 
    background-color:transparent !important ;
}