.payment-status-modal{
    font-family: 'Roboto Regular',sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: calc(100% - 40px);
    background: #f7f2df !important;
    border-radius: 20px !important;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #614731 !important;
  }
  