.home-page-content-1 {
    background-color: #FFD7BF;
    padding-top: 6rem;
}

.homebanner-text {
    color: rgba(53, 40, 23, 1);
    line-height: 3rem;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    font-family: "Playfair Display", serif !important;
    position: relative;
    top: 0rem;
    left: 0;
    padding: 0 1.5rem 1rem;
}

.choosemeals-content-block {
    background: rgba(255, 184, 143, 1);
    padding-bottom: 2rem;
}

.catergory-types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 184, 143, 1);
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .catergory-item {
        max-width: 100%;
    }
}

.pos1 {
    position: absolute;
    left: -20%;
    width: 100%;
    top: 10%;
}

.pos2 {
    position: absolute;
    right: -40px;
    width: 50%;
}

.pos3 {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.catergory-item {
    padding: 0px 1.5rem;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.catergory-item h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #352817;
}
.catergory-item a{
    z-index: 1;
}
.box1, .box2, .box3, .box4 {
    width: 90%;
    height: 200px;
    /* border: 4px solid #fa9d07; */
    border-radius: 30px;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
}

.item-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.gifting-image {
    position: absolute;
    right: -8%;
    width: 50%;
    bottom: -30px;
}
.snacks-image {
    position: absolute;
    right: -8%;
    width: 50%;
    bottom: -30px;
}
.dh-image {
    position: absolute;
    right: -8%;
    width: 50%;
    bottom: -30px;
}

.box1 {
    background: #F2CBBD;
}

.box2 {
    background: #FDC56B;
}

.box3 {
    background: #D1EBE8;
}

.box4 {
    background: #F9F3DF;
}

.hiw-citem{
    /* background: #cccccc; */
    max-width:calc(100% - 100px);
}
.owl-theme.how-it-works .owl-nav{
    margin-top: 0px;
}
.owl-theme.home-page-product-owl .owl-nav{
    margin-top: -10px;
}
.owl-carousel.how-it-works .owl-nav button.owl-prev, .owl-carousel.how-it-works .owl-nav button.owl-next {
    width: 40px;
    height: 40px;
    border: 3px solid #894C5B;
    border-radius: 50%;
    background: none;
    color: #894C5B;
    padding: 0 !important;
    font: inherit;
}

.owl-carousel.how-it-works .owl-nav button.owl-prev{
    position: absolute;
    top:calc(50% - 40px);
    left: 0;  
}
.owl-carousel.how-it-works .owl-nav button.owl-next{
    position: absolute;
    top:calc(50% - 40px);
    right: 0; 
}
.owl-carousel.how-it-works .owl-nav button.owl-prev>span, .owl-carousel.how-it-works .owl-nav button.owl-next>span {
    font-size: 3rem;
    line-height: 40px;
    position: relative;
    top: -10px;
}

.owl-carousel.how-it-works .owl-nav button.owl-prev:hover, .owl-carousel.how-it-works .owl-nav button.owl-next:hover {
    background-color: #F2CBBD;
    cursor: pointer;
}
@media screen and (max-width:615px){
    .box1, .box2, .box3, .box4 {
        max-width: 96%;
    }
}
@media screen and (min-width:620px){
    .box1, .box2, .box3, .box4 {
        max-width: 46%;
    }
}
@media screen and (min-width:1200px) {    
    .box1, .box2, .box3, .box4 {
        max-width: 23%;
    }
}