.delete {
  text-decoration: line-through;
}

.cart-prd-details-sec {
  width: calc(100% - 130px);
}
.crt-price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0px 0.5rem;
  font-size: 14px !important;
}
.crt-price-info span:first-child {
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  color: #000 !important;
  opacity: 0.75 !important;
}
.crt-price-info span:last-child {
  font-family: "Roboto Medium", sans-serif;
  font-weight: 500;
}

.crt-prd-img-container {
  background-color: #4b49551a;
  height: 120px;
  overflow: hidden;
  position: relative;
  width: 120px;
}
.crt-prd-img-container img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  border-radius: 4px;
}

.crt-prd-duration {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #614731;
  padding: 3px 9px;
  color: #f7f2df;
  border-radius: 5px;
  display: inline-block;
}

.crt-prd-session {
  text-transform: uppercase;
  font-family: 'Roboto Medium',sans-serif;
  font-weight: 500;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.crt-prd-session-deliver {
  font-weight: 500;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  color: #696969;
}

.crt-prd-address-title {
  padding-right: 30px;
  .truckIcon{
    position: absolute;
    top:4px;
    right:6px;
  }
  text-transform: capitalize;
  font-family: 'Roboto Regular',sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #424141;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}

.crt-prd-title {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.cart-qty-sec .btn-outline-primary,
.cart-qty-sec .btn-outline-primary:hover,
.cart-qty-sec .btn-outline-primary:active,
.cart-qty-sec .btn-outline-primary:focus {
  color: #614731 !important;
  border-color: #614731 !important;
  background: transparent !important;
}

.prd-price-duration {
  font-weight: 500;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.cart-qty-sec{
  font-family: 'Roboto Regular',sans-serif;
}
.cart-del-button{
  color: #F36B24 !important;
  border-color: #F36B24 !important;
  background-color: transparent !important;
}