.login-container{
    max-width: 600px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 450px;
}
.customform .form-floating>.form-control{
    padding: .5rem .75rem;
    font-size: 16px;
  }
  .customform .input-group .form-control {
    padding: 0.75rem .75rem;
    font-size: 16px;
  }
  /* .form-floating>.form-control{
    height: calc(3rem + 2px) !important;
  }
  .form-floating>label{
    padding: 0.75rem 0.75rem !important;
  } */
  .custom-btn{
      font-size: 16px !important;
      font-weight: 500 !important;
      /* background-color: #f05922 !important; */
      /* background-color: #614731 !important; */
      background-color: #ebebeb !important;
      color: #4b4955!important;
      border: none !important;
      min-height: 52px;
      max-width: 80%;
      margin: 0 10%;
  }
  .nav-item{
      margin-left: auto;
      margin-right: auto;
  }
  .nav-item a{
      font-weight: 600;
      color:#424141;
      text-decoration: underline;
  }
  .secondary-color{
      color:#424141 !important
  }
  .pos-rel{
    position: relative;
  }

  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #F05922 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(240 89 34 / 25%) !important;
}
.input-error-txt{
  margin-top: -0.75rem;
    margin-bottom: 0.25rem;
    line-height: 20px;
    font-size: 14px;
}
.modal-footer-btn{
  color: #ffffff !important;
  background-color: #614731 !important;
  border-color: #614731 !important;
    outline: 0;
}
.customform .input-group-text{
  color: #ffffff !important;
  background-color: #614731 !important;
  border-color: #614731 !important;
}
.hyper-link-txt{
  font-family: 'Roboto Medium',sans-serif;
  font-size: 16px;
  font-weight: 500;
  color:#614731 !important;
  text-decoration: none !important;
}