.login-container{
    max-width: 600px !important;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.customform .form-floating>.form-control{
    padding: .5rem .75rem;
    font-size: 16px;
  }
  .customform .input-group .form-control {
    padding: 1rem .75rem;
    font-size: 16px;
  }
  .custom-btn{
      font-size: 20px !important;
      font-weight: 500 !important;
      /* background-color: #f05922 !important; */
      background-color: #614731 !important;
      color: #ffffff;
      border: none !important;
      min-height: 52px;
  }
  .nav-item{
      margin-left: auto;
      margin-right: auto;
  }
  .nav-item a{
      font-weight: 600;
      color:#424141;
      text-decoration: underline;
  }
  .secondary-color{
      color:#424141 !important
  }
  .pos-rel{
    position: relative;
  }