.goal-card {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    // border-color: #614731 !important;
    background: #F5E0BC !important;
    border-radius: 20px !important;    
}

.goal-card:last-child {
    margin-bottom: 20px;
}

.goal-card .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom:0px;
}

.goal-card .card-body svg {
    width: 40px;
    height: auto;
}

.goal-card.vl-bg-success .card-body svg {
    color:#614731 !important; 
}

.goal-title {
    font-size: 14px !important;
}
@media screen and (max-width: 615px) {
    .goal-card {
        max-width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 616px) {
    .goal-card {
        max-width: 160px;
        height: 160px;
    }
}