

.footer-button-wrap {
    margin: 30px auto 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
}

.footer-button-wrap button {
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 20px;
}

.footer-button-wrap button:last-child {
    margin-right: 0;
}

.footer-button-wrap button svg {
    margin-right: 5px;
}
