.planner-container {
  min-height: 100vh;
  padding-top: 70px;
  background-color:rgb(245, 224, 188);
  .stepperComponent {
    background-color: #f7f2df;
    .MuiStepIcon-root.MuiStepIcon-active,.MuiStepIcon-root.MuiStepIcon-completed {
      color: #614731 !important;
  }
  }
}

.prd-image-thumbnile-none {
  border-radius: 0px !important;
}

// stepperComponent
.stepperComponent {
  // background-color: #cccccc !important;
}
.stepperComponent .MuiStepLabel-labelContainer {
  display: none !important;
}
