.planner-container {
  // min-height: 100vh;
  // padding-top: 70px;
  // background-color:rgb(245, 224, 188);
  .stepperComponent {
    background-color: #f7f2df;
    padding: 24px 40px !important;
    .MuiStepIcon-root.MuiStepIcon-active,.MuiStepIcon-root.MuiStepIcon-completed {
      color: #614731 !important;
  }
  }
}

.prd-image-thumbnile-none {
  border-radius: 0px !important;
}

// stepperComponent
.stepperComponent {
  // background-color: #cccccc !important;
}
.stepperComponent .MuiStepLabel-labelContainer {
  display: none !important;
}

.updateOrder-sec{
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  .vl-checkbox-custom{
    padding: 0px !important;
  }
  .rmdp-wrapper.rmdp-shadow {
    width: 100%;
    overflow: auto;
  }
  .mealplan-address-block{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.calendar-container{
  overflow: auto;
  padding: 0px 0px;
}

.selected-duration {
  padding: 0px 20px;
}
.planner-container{
  .page-title{
    margin-top: 1rem !important;
  }
}
.update-planner-card{
  .mear-type-card{
    span{
    font-family: 'Roboto Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: .5rem;
    }
  }
}
.update-product-details{
  .product-display{
    padding: 0px;
  }
}