.planner-container {
  // min-height: 100vh;
  // padding-top: 70px;
  // background-color:rgb(245, 224, 188);
  .stepperComponent {
    background-color: #f7f2df;
    padding: 24px 40px !important;
    .MuiStepIcon-root.MuiStepIcon-active,.MuiStepIcon-root.MuiStepIcon-completed {
      color: #614731 !important;
  }
  }
}

.prd-image-thumbnile-none {
  border-radius: 0px !important;
}

// stepperComponent
.stepperComponent {
  // background-color: #cccccc !important;
}
.stepperComponent .MuiStepLabel-labelContainer {
  display: none !important;
}

.updateOrder-sec{
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  .vl-checkbox-custom{
    // padding: 0px !important;
  }
  .mealPlannerCheck{
    margin: 0px 0px !important;
    // border: 1px solid #d3d3d3;
    padding: 0px 0px;
  }
  .rmdp-wrapper.rmdp-shadow {
    width: 100%;
    overflow: auto;
  }
  .mealplan-address-block{
    // padding-left: 0px !important;
    // padding-right: 0px !important;
  }
  .vl-action-btn{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.calendar-container{
  overflow: auto;
  padding: 0px 0px;
}

.selected-duration {
  padding: 0px 20px;
}
.planner-container{
  .page-title{
    margin-top: 0rem !important;
  }
}
.update-planner-card{
  .mear-type-card{
    span{
    font-family: 'Roboto Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: .5rem;
    }
  }
}
.update-product-details{
  .product-display{
    padding: 0px;
  }
}
.vl-edit-prd-planner-sec{
  padding: 0px 20px;
  .rmdp-wrapper.rmdp-shadow {
    width: 100%;
    overflow: auto;
    border: 1px solid #d3d3d3 !important;
    border-radius: 10px !important;
    .rmdp-calendar{
      background: #f7f2df !important;
    }
  }
}
.vl-edit-time-stamp{
  justify-content: space-between;
  border:1px solid #d3d3d3;
  border-radius: 10px;
  padding: 12px;
  margin: 1rem 0px .5rem;
}
.vl-edit-bal-stamp{
  align-items: center;
  padding: 4px 0px;
  margin-bottom: 0.25rem;
}
.vl-edit-cal-info{
  position: relative;
}
.vl-edit-cal-info-sec{
  background-color: #f7f2df !important;
  .vl-info-txt{
    font-size: 14px;
    font-family: 'Roboto Regular',sans-serif;
    margin: 0px 8px;
  }
}
.vl-edit-legends-bg{
  background: #F5E0BC !important;
}
.vl-edit-del-type-text{
  font-size: 14px;
  font-family: 'Roboto Medium',sans-serif;
  font-weight: 500;
}
.vl-days-desp-info,.vl-edit-bal-info{
  font-size: 14px;
  font-family: 'Roboto Regular',sans-serif;
  font-weight: 400;
  white-space: nowrap;
}
.vl-edit-button-group{
  .vl-btn-primary{
    border-radius: 20px 20px 20px 20px !important;
    position: relative;
    z-index: 1;
  }
  .vl-btn-secondary{
    border-radius: 0px 20px 20px 0px !important;
    position: relative;
    margin-left: -25px;
    z-index: 2;
    right: 0px;
    background: #F7F2DF !important;
  }
}