.order-modal-content {
  background: rgb(245, 224, 188);
  padding: 15px;
  border-radius: 6px;
}

.order-modal-content h4 {
  font-family: "Roboto Medium",sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  padding-bottom: 0px;
  margin-bottom: 15px;
}
.order-modal-content .form-check-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.order-modal-content .modal-body {
  padding: 0px;
}

.modal-body-content {
  /* padding: 15px;
    border: 1px solid #d3d3d3; */
  border-radius: 4px;
}
.modal-footer-btn-group {
  display: flex;
  justify-content: space-between;
}
.order-form-control {
  padding: 5px 0px;
  margin-bottom: 4px;
}
.order-form-control span.date-info {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-width: 100px;
  display: inline-block;
}
.rmdp-container input.rmdp-input {
  padding: 4px 12px;
  border: 1px solid #d3d3d3;
  min-height: 32px;
}
.rmdp-calendar {
  overflow: auto;
  background: #ffffff;
}
.modal-body-content .rmdp-wrapper.rmdp-shadow {
  margin: 0px !important;
}
.vl-btn-primary {
  color: #fff;
  background-color: #614731 !important;
  border-color: #614731 !important;
}
.vl-btn-secondary {
  color: #212121 !important;
  background-color: #cccccc !important;
  border-color: #d3d3d3 !important;
}
.order-modal-content-footer {
  /* background: #d1ebe8; */
  padding: 15px;
  border-radius: 0px 0px 6px 6px;
}
.custom-info-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.subscription-description {
  margin-bottom: 5px;
  font-family: 'Roboto Regular',sans-serif;
  font-size: 16px;
  font-weight: 400;
}
